.subtitulo {
  margin-top: 20px;
  font-size: 25px;
}

.titulo {
  /* margin: 7% 0 2% 0; */
  border-bottom: 2px solid #ccc;
}

.titulo h1 {
  font-size: 35px;
}

.botao-form {
  width: 100%;
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
}

.btn-primary{
  background-color: #2f306f;
  border-color: #2f306f;
}
.btn-primary:hover{
  background-color: #1b2e4f;
  border-color: #1b2e4f;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*-- MENU --*/

.styleMenuPrincipal {
  background-color: #ffffff;
  /*padding-top: 13px;*/
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
.styleMenuPrincipal_container_logo{
  margin-left: 25px; 
  padding: 0px; 
  text-align: right; 
  margin-top: 11px;
}
.styleMenuPrincipal_container_select{
  padding-right: 15px; 
  padding-top: 10px; 
  padding-left: 3px;
}
#styleMenuPrincipal_select{
  margin-top: 12px; 
  border-color: #f0f0f0; 
  border-radius: 6px;
  color: #f0f0f0;
}
.styleMenuPrincipal_titulo {
  font-size: 23px;
}
.styleMenuPrincipalBotaoPesquisar{
  background-color: white; 
  height: 40px;
  border-color: #f0f0f0;
}
.styleMenuPrincipalBotaoPesquisar:hover{
  background-color: #fffafa; 
  height: 40px;
  border-color: #f0f0f0;
}
.styleMenuPrincipalBotaoCadastrar{
  background-color: red;
   margin-bottom: 10px;
    height: 40px;
     font-size: 16px;
      color: white;
       font-weight: bold;
        float: right;
          border-radius: 6px;
           width: 100%;
            font-family: arial;
}

.styleMenuPrincipal_input {
  width: 100%;
  margin: 2px;
  font-style: italic;
}

.styleMenuPrincipal_button {
  background-color: red;
  padding-top: 10px;
}

/*-- LOGIN --*/
.styleMenuPrincipal_container_login{
  background-color: white;
  margin-top: 42px; 
  height: 380px; 
  position:absolute; 
  z-index: 2; 
  border-color: white;
    -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
#styleMenuPrincipal_login_botao{
  background-color: white; 
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  font-family: arial;
  font-weight: bold;
  border-color: #1492e6;
  color: #1492e6;
}
#styleMenuPrincipal_login_botao:hover{
  background-color: #1492e6;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  font-family: arial;
  font-weight: bold;
  border-color: #1492e6;
  color: white;
}
.styleMenuPrincipal_login_input{
  border-color: #f0f0f0;
}
.styleMenuPrincipal_button_logar{
  width: 100%; 
  background-color: #1492e6; 
  color: white;
}

/*--x LOGIN x--*/

/*--x MENU x--*/

/*-- CONTEUDO --*/


/*-- AVISO --*/
.svg {
  -webkit-filter: invert(0.5) sepia(1) saturate(5);
          filter: invert(0.5) sepia(1) saturate(5);
  margin: 0;
  padding:0;
  width:35px;
  float:left;
  margin-top: 4px;
  /*fill:red;*/
}

.styleConteudo_aviso {
  background-color: #f9e154;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 0;
}

.styleConteudo_mensagem {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

/*--x AVISO x--*/

/*-- CONTEUDO DO SITE --*/

.styleCategoria_conteiner_button {
  padding: 1rem;
  padding-left: 0rem;
}

.styleCategoria_button {
  width: 130px;
  height: 130px;
  background-color: white;
  border-color: #d9d9d9;
  border-radius: 25px;
}

.styleCategoria_button:hover {
  width: 130px;
  height: 130px;
  background-color: white;
  border-color: red;
  border-width: 3px;
  border-radius: 25px;
}

.styleCategoria_button_padding {
  padding: 0.5rem;
}

.styleCategoria_imagem {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.styleCategoriaButton {
  width: 350px;
  height: 100%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  border-color: #d9d9d9;
  border-width: 2px;
}

.styleCategoriaButton:hover {
  width: 350px;
  height: 100%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  border-color: red;
  border-width: 2px;
}

.styleCategoriaButton_container {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.styleCategoriaButton_titulo {
  text-align: left;
  font-weight: bold;
}

.styleCategoriaButton_subtitulo {
  text-align: left;
}

/*--x CONTEUDO DO SITE --*/

/*--x CONTEUDO x--*/

/*-- RODAPE --*/
#styleRodape_Container_Rodape_1{
  display: block;
}
#styleRodape_Container_Rodape_2{
  display: none;
}

.styleRodape {
  background-color: #2f306f;
}

.styleRodape_Imagem_ufape {
  padding-top: 4.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.styleRodape_Imagem_lmts {
  padding-top: 5.7rem;
  padding-bottom: 0.7rem;
  text-align: center;
}

.styleRodape_Texto {
  font-size: 13px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-family: arial;
}

.styleRodape_Texto_Titulo {
  padding-top: 30px; 
  padding-bottom: 1px;  
  font-family: arial; 
  font-weight: bold; 
  color: white; 
  font-size: 16px
}

.styleRodape_Imagem_Apoio{
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}

/*--x RODAPE x--*/
@media screen and (max-width: 576px){
  .navbar{
    align-items: center;
  }
  .styleRodape .container{
    align-items: center;
  }
  .styleMenuPrincipal_titulo{
    align-items: center;
  }
    .styleRodape_linha_left{
        border-left: 0;
    }
    
    .styleMenuPrincipal_button{
      margin-top:10px;
      width: 100%;
    }
  .svg{
    float: none;
  }
  #apoio{
    display: none;
  }
  .styleRodape_Container{
    text-align: center;
    margin-left: 0px;
    margin: 0px;
  }
  .styleRodape_Imagem_lmts {
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
  text-align: center;
  }
  .styleRodape_Container_Apoio{
    text-align: center; 
  }

}
/*Resolucao especifica para o IPAD */
@media screen and (max-width: 768px) and (min-width: 575px){
  #styleMenuPrincipal_imagem_logo{
    width:100px;
  }
}


@media screen and (max-width: 991px) and (min-width: 576px){
  #styleRodape_Container_Rodape_1{
    display: none;
  }
  #styleRodape_Container_Rodape_2{
    display: block;
  }
    .styleRodape_Imagem_ufape {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .styleRodape_Imagem_lmts {
    padding-top: 1.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
  }
}