.subtitulo {
  margin-top: 20px;
  font-size: 25px;
}

.titulo {
  /* margin: 7% 0 2% 0; */
  border-bottom: 2px solid #ccc;
}

.titulo h1 {
  font-size: 35px;
}

.botao-form {
  width: 100%;
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
}

.btn-primary{
  background-color: #2f306f;
  border-color: #2f306f;
}
.btn-primary:hover{
  background-color: #1b2e4f;
  border-color: #1b2e4f;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*-- MENU --*/

.styleMenuPrincipal {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
.styleMenuPrincipal_container_logo{
  text-align: center;
}
.styleMenuPrincipal_container_select{
  height: 38px;
}
#styleMenuPrincipal_container_BotaoPesquisar{
  width: 100%; background-color: #1492e6; border-color: white; border-radius: 6px; border-width: 1.5px;
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
#styleMenuPrincipal_container_BotaoPesquisar:hover{
  background-color: #1ca4ff; 
  border-color: white;
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
#styleMenuPrincipal_botao{
  color: white;
}
.styleMenuPrincipalBotaoCadastrar{
  background-color: white; width: 100%;
   margin-bottom: 10px;
    height: 36px;
     font-size: 13px;
      color: white;
       font-weight: bold;
        float: right;
          border-radius: 6px;
           width: 100%;
            font-family: arial;
            -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
.styleMenuPrincipalBotaoCadastrar:hover{
  background-color: white; width: 100%;
   margin-bottom: 10px;
     font-size: 13px;
      color: white;
       font-weight: bold;
        float: right;
          border-radius: 6px;
           width: 100%;
            font-family: arial;
            border-color: #75c8ff;
            -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
.styleMenuPrincipal_input_cidade{
  padding-right: 0px;
}
.styleMenuPrincipal_input_pesquisar{
  padding-left: 3px; padding-right: 0px;
}
.styleMenuPrincipal_botao_pesquisar{
  padding-left: 3px; padding-right: 0px;
}
.styleMenuPrincipal_login_container{
  padding-top: 7px;
}
#styleMenuPrincipal_login_texto{
  color: #1492e6; display: block;
}
#styleMenuPrincipal_login_texto_aux{
  color: #1492e6; display: none;
}
#styleMenuPrincipal_sair{
  background-color: white; 
  border-color: white; 
  color: #1492e6; 
  height: 36px;
  width: 100%; 
  margin-bottom: 5px;
  border-radius: 6px;
  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
#styleMenuPrincipal_sair:hover{
  background-color: white; 
  border-color: white; 
  color: #1492e6; 
  height: 36px;
  width: 100%; 
  margin-bottom: 5px;
  border-radius: 6px;
  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  border-color: #75c8ff;
  -webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
.styleMenuPrincipal_container_login{
  z-index: 2;
  position: absolute;
  webkit-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
box-shadow: 0px 7px 8px 2px rgba(0,0,0,0.15);
}
.styleMenuPrincipal_button_logar{
  background-color: #1492e6;
  color: white;
  width: 100%;
}
.styleMenuPrincipal_button_logar:hover{
  background-color: #1ca4ff;
  color: white;
  width: 100%;
}
.styleMenuPrincipal_button_cadastro{
  background-color: #6c63ff;
  width: 100%;
  color: white;
}
.styleMenuPrincipal_button_cadastro:hover{
  background-color: #8c85fe;
  width: 100%;
  color: white;
}
.styleMenuPrincipal_menuInferior{
  display: block;
}
.styleMenuPrincipal_botaoInferior{
  background-color: #1492e6;
  border-color: #1492e6;
  font-family: arial;
  font-weight: bold;
}
.styleMenuPrincipal_botaoInferior:hover{
  background-color: #1492e6;
  border-color: white;
  font-family: arial;
  font-weight: bold;
  color: white;
}


/*--x MENU x--*/

/*-- CONTEUDO --*/


/*-- AVISO --*/
.svg {
  -webkit-filter: invert(0.5) sepia(1) saturate(5);
          filter: invert(0.5) sepia(1) saturate(5);
  margin: 0;
  padding:0;
  width:35px;
  float:left;
  margin-top: 4px;
  /*fill:red;*/
}

.styleConteudo_aviso {
  background-color: #f9e154;
  width: 100%;
  padding: 5px 0 5px 0;
  margin: 0;
}

.styleConteudo_mensagem {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

/*--x AVISO x--*/

/*-- CONTEUDO DO SITE --*/

.styleCategoria_conteiner_button {
  padding: 1rem;
  padding-left: 0rem;
}

.styleCategoria_button {
  width: 130px;
  height: 130px;
  background-color: white;
  border-color: #d9d9d9;
  border-radius: 25px;
}

.styleCategoria_button:hover {
  width: 130px;
  height: 130px;
  background-color: white;
  border-color: red;
  border-width: 3px;
  border-radius: 25px;
}

.styleCategoria_button_padding {
  padding: 0.5rem;
}

.styleCategoria_imagem {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.styleCategoriaButton {
  width: 350px;
  height: 100%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  border-color: #d9d9d9;
  border-width: 2px;
}

.styleCategoriaButton:hover {
  width: 350px;
  height: 100%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  border-color: red;
  border-width: 2px;
}

.styleCategoriaButton_container {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.styleCategoriaButton_titulo {
  text-align: left;
  font-weight: bold;
}

.styleCategoriaButton_subtitulo {
  text-align: left;
}

/*--x CONTEUDO DO SITE --*/

/*--x CONTEUDO x--*/

/*-- RODAPE --*/

.styleRodape {
  background-color: #2f306f;
}

.styleRodape_Imagem_ufape {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.styleRodape_Imagem_lmts {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.styleRodape_Texto {
  font-size: 13px;
  color: white;
  text-align: center;
}

.styleRodape_Texto_Titulo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.styleRodape_Texto_Conteudo_MapaDoSite {
  color: white;
  font-size: 13px;
  padding-top: 0.4rem;
}

.styleRodape_container {
  padding-bottom: 0.1rem;
  text-align: left;
}

.styleRodape_Texto_Contato {
  font-size: 14px;
}

.styleRodape_linha_left {
  border-left: solid;
  color: white;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  height: 100%;
}

.styleRodape_linha_top {
  border-top: solid;
  color: white;
  margin: 0.5rem;
}



/*--x RODAPE x--*/
@media screen and (max-width: 576px){
  .navbar{
    align-items: center;
  }
  .styleRodape .container{
    align-items: center;
  }
  .styleMenuPrincipal_titulo{
    align-items: center;
  }
    .styleRodape_linha_left{
        border-left: 0;
    }
    
    .styleMenuPrincipal_button{
      margin-top:10px;
      width: 100%;
    }
  .svg{
    float: none;
  }
  #apoio{
    display: none;
  }

}

@media screen and (max-width: 1200px) and (min-width: 992px){
  #styleMenuPrincipal_botao{
    display: none;
    color: red;
  }
}

@media screen and (max-width: 1200px) and (min-width: 768px){
  #styleMenuPrincipal_login_texto{
      display: none;
  }
  #styleMenuPrincipal_login_texto_aux{
    display: block;
  }
}
/*campo pesquisar e login*/
@media screen and (max-width: 767px) and (min-width: 333px){
/*input - cidade*/
.styleMenuPrincipal_input_cidade{
  padding-right: 15px;
  padding-bottom: 2px;
}
  /*input - pesquisar*/
.styleMenuPrincipal_input_pesquisar{
  padding-left: 15px; padding-right: 15px;
}
/*botao pesquisar*/
.styleMenuPrincipal_botao_pesquisar{
  padding-left: 15px; padding-right: 15px;
}
/*container - botao login*/
.styleMenuPrincipal_login_container{
  padding-right: 15px;
}
/*menu inferior*/
.styleMenuPrincipal_menuInferior{
  display: block;
}
.styleMenuPrincipal_botaoInferior{
  padding-right: 15px;
}
}

@media screen and (max-width: 991px) and (min-width: 576px){
  #styleMenuPrincipal_botao{
    display: none;
    color: red;
  }
  #styleMenuPrincipal_logo{
    width: 119px;
  }
}