.subtitulo {
  margin-top: 20px;
  font-size: 25px;
}

.titulo {
  /* margin: 7% 0 2% 0; */
  border-bottom: 2px solid #ccc;
}

.titulo h1 {
  font-size: 35px;
}

.botao-form {
  width: 100%;
  padding: 20px 0 20px 0;
  margin-bottom: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*-- MENU --*/

.styleMenuPrincipal {
  background-color: #2f306f;
}

.styleMenuPrincipal_titulo {
  font-size: 23px;
}

.styleMenuPrincipal_input {
  width: 100%;
  margin: 2px;
  font-style: italic;
}

.styleMenuPrincipal_button {
  background-color: red;
  padding-top: 10px;
}

/*--x MENU x--*/

/*-- CONTEUDO --*/

/*-- AVISO --*/

.styleConteudo_aviso {
  background-color: #f9e154;
  width: 100%;
  /* height: 65px; */
  padding: 1rem;
}

.svg {
  -webkit-filter: invert(0.5) sepia(1) saturate(5);
          filter: invert(0.5) sepia(1) saturate(5);
  /*fill:red;*/
}

.styleConteudo_mensagem {
  padding-top: 1.2rem;
  padding-left: 0.5rem;
}

/*--x AVISO x--*/

/*-- CONTEUDO DO SITE --*/

.styleCategoria_conteiner_button {
  padding: 1rem;
  padding-left: 0rem;
}

.styleCategoria_button {
  width: 130px;
  height: 130px;
  background-color: white;
  border-color: #d9d9d9;
  border-radius: 25px;
}

.styleCategoria_button:hover {
  width: 130px;
  height: 130px;
  background-color: white;
  border-color: red;
  border-width: 3px;
  border-radius: 25px;
}

.styleCategoria_button_padding {
  padding: 0.5rem;
}

.styleCategoria_imagem {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.styleCategoriaButton {
  width: 350px;
  height: 100%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  border-color: #d9d9d9;
  border-width: 2px;
}

.styleCategoriaButton:hover {
  width: 350px;
  height: 100%;
  margin: 0.5rem;
  background-color: white;
  border-radius: 10px;
  border-color: red;
  border-width: 2px;
}

.styleCategoriaButton_container {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.styleCategoriaButton_titulo {
  text-align: left;
  font-weight: bold;
}

.styleCategoriaButton_subtitulo {
  text-align: left;
}

/*--x CONTEUDO DO SITE --*/

/*--x CONTEUDO x--*/

/*-- RODAPE --*/

.styleRodape {
  background-color: #2f306f;
}

.styleRodape_Imagem_ufape {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.styleRodape_Imagem_lmts {
  padding-top: 3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.styleRodape_Texto {
  font-size: 13px;
  color: white;
  text-align: center;
}

.styleRodape_Texto_Titulo {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.styleRodape_Texto_Conteudo_MapaDoSite {
  color: white;
  font-size: 13px;
  padding-top: 0.4rem;
}

.styleRodape_container {
  padding-bottom: 0.1rem;
}

.styleRodape_Texto_Contato {
  font-size: 14px;
}

.styleRodape_linha_left {
  border-left: solid;
  color: white;
  margin-top: 0.5rem;
  padding-bottom: 1rem;
  margin-left: 0.5rem;
  height: 100%;
}

.styleRodape_linha_top {
  border-top: solid;
  color: white;
  margin: 0.5rem;
}



/*--x RODAPE x--*/
@media screen and (max-width: 576px){
  .navbar{
    align-items: center;
  }
  .styleRodape .container{
    align-items: center;
  }
  .styleMenuPrincipal_titulo{
    align-items: center;
  }
    .styleRodape_linha_left{
        border-left: 0;
    }
    
    .styleMenuPrincipal_button{
      margin-top:10px;
      width: 100%;
    }


}